@media (max-width: 1000px){
	.First-row {
		margin-top: 5%;
		gap: 0;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 40px;
	}
	.First-row .first-box {
		position: relative;
		flex-basis: 49%;
		box-sizing: border-box;
	}
	.Second-row{
		margin-top: 7%;
	}
	.Third-row{
		flex-wrap: wrap;
	}
	.Third-row .Third-box{
		margin-top: 4%;
		flex-basis: 100%;
	}
	.Third-row .Third-box:nth-child(2){
		margin-top: 8%;
	}
}
@media (max-width: 800px){
    .container-menu{
        width: 0;
        position: relative;
    }
    .container-content{
        margin: 3%;
    }
    .menu-container{
		display: none;
		flex-direction: column;
		background-color: lightgray;
		position: fixed;
		top: 0;
        right: 0;
		width: 50%;
		height: 100%;
		text-align: left;
		z-index: 10;
		transition: all 1s;
	}
	.menu{
		margin: 0;
	}
    #checked-menu:checked ~ .menu-container{
		display: block;
		max-height: 100%;
		animation: men .5s ease-in-out;
	}
	#check-mnu{
		display: block;
		position: absolute;
        right: -55px;
        top: -1px;
		padding: 10px 0;
		z-index: 3;
	}
	#checked-menu:checked ~ #check-mnu .burger-line{
		background-color: transparent;
	}
	#checked-menu:checked ~ #check-mnu .burger-line::before{
		transform: rotate(-45deg);
		width: 30px;
		top: 0;
	}
	#checked-menu:checked ~ #check-mnu .burger-line::after{
		transform: rotate(45deg);
		top: 0;
	}
    .bt-git{
        margin: 5%;
    }
    h3{
        margin-left: 45px;
    }
}
@media (max-width: 650px){
	.Second-row {
		gap: 0%;
		flex-wrap: wrap;
		margin-top: 10%;
		row-gap: 50px;
	}
	.Second-row .Second-box {
		width: 0%;
		position: relative;
		padding-top: 170px;
		flex-basis: 100%;
		box-sizing: border-box;
	}
	.Third-row{
		margin-bottom: 10%;
	}
	.Second-row div:nth-child(1) p:nth-child(1), .Second-row div:nth-child(2) p:nth-child(1), .Second-row div:nth-child(3) p:nth-child(1){
		background-size: 65%;
	}
	.Second-row div p:nth-child(1){
		left: 2.9%;
    	width: 94%;
	}
	footer{
		margin: 5% 0;
	}
}
@media (max-width: 500px){
	.First-row{
		margin-top: 7%;
	}
	.First-row .first-box{
		flex-basis: 100%;
	}
	.First-row .box-gray::before{
		padding: 4%;
	}
}